.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */
{
  opacity: 0
}

.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all 15s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(50%);
  opacity: 0;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes slideInRight {
  from {
    left:100%;
  }
  to {
    left:50%;
  }
}

@-webkit-keyframes slideInRight {
  from {
    left:100%;
  }
  to {
    left:50%;
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes icon-loading {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@-webkit-keyframes icon-loading {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.icon-loading {
  -webkit-animation-name: icon-loading;
  animation-name: icon-loading;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

.center-modal-enter-active,
.center-modal-enter-active .mask,
.center-modal-enter-active .inner,
.center-modal-leave-active,
.center-modal-leave-active .mask,
.center-modal-leave-active .inner {
  transition: all .3s ease
}

.center-modal-enter .mask,
.center-modal-leave-to .mask {
  opacity: 0
}

.center-modal-enter .inner,
.center-modal-leave-to .inner {
  opacity: 0;
  transform: scale(.1);
  -webkit-transform: scale(.1)
}